@font-face {
	font-family: DigitalDisco;
	src: url("/fonts/DigitalDisco.woff2");
}

* {
	font-family: "DigitalDisco";
	font-size: 1.03em;
}

body {
	margin: 0px;
	padding: 0px;
	color: rgb(56, 56, 56);
}

input {
	color: rgb(56, 56, 56);
}

.text-center {
	text-align: center;
	padding: auto;
}

.signin-error {
	color: red;
}

.text-right {
	text-align: end;
}

img {
	image-rendering: pixelated;
}

input,
select,
button {
	border-image: url(/lab/button-9slice_noshadow.png);
	border-image-slice: 4 fill;
	border-image-width: 8;
	padding: 6px;
	image-rendering: pixelated;
}

input:hover,
select:hover,
button:hover {
	border-image: url(/lab/button-9slice.png);
}