@font-face {
	font-family: DigitalDisco;
	src: url("/fonts/DigitalDisco.woff2");
}

* {
	font-family: "DigitalDisco";
	font-size: 1.03em;
}

body {
	margin: 0px;
	padding: 0px;
	color: rgb(56, 56, 56);

	background-image: url("/bg_min.png");
	image-rendering: pixelated;
	background-size: cover;
	background-attachment: fixed;
	background-position-x: center;
	background-position-y: bottom;
}

.text-center {
	text-align: center;
	padding: auto;
}

.signin-error {
	color: red;
}

.text-right {
	text-align: end;
}

img {
	image-rendering: pixelated;
}

input,
select,
button {
	background-color: transparent;
	border-image: url(/lab/button-9slice_noshadow.png);
	border-image-slice: 4 fill;
	border-image-width: 2;
	border-width: 5px;
	padding: 4px;
	image-rendering: pixelated;
	box-shadow: none;
	border-color: transparent;
	border-image-repeat: round;
	box-sizing: content-box;

	color: rgb(56, 56, 56);
}

input:hover,
select:hover,
button:hover {
	border-image: url(/lab/button-9slice.png);
	border-image-slice: 4 fill;
	border-image-width: 2;
	border-width: 5px;
}

input:active,
select:active,
button:active {
	border-image: url(/lab/button-9slice_noshadow.png);
	border-image-slice: 4 fill;
	border-image-width: 2;
	border-width: 5px;
}

input[type="color"] {
	padding: 0;
	border: none;
}