<!DOCTYPE html>
<html lang="en-ca">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Youniverse</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
	<style>
		header {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	</style>

	<header>
		<a asp-action="Index">YOUniverse</a>
		<form method="post" action="/Account/Signout" class="text-right">
			<input type="submit" value="Signout" />
		</form>
	</header>

	<div class="container">
		@RenderBody()
	</div>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
