<!DOCTYPE html>
<html lang="en-ca">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Youniverse</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
	<style>
		header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #b5b5b5;
			height: 40px;
			padding-left: 8px;
			padding-right: 8px;
		}
	</style>

	@if (ViewData["useHeader"] == null || ViewData["useHeader"]!.Equals(true))
	{
		<header>
			<a asp-action="Index">YOUniverse</a>
			@if (ViewData["doneEditing"] == null || ViewData["doneEditing"]!.Equals(true))
			{
				<form method="post" action="/Account/Signout" class="text-right">
					<input type="submit" value="Done Editing" />
				</form>
			}
		</header>
	}

	<div class="container">
		@RenderBody()
	</div>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
