@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1>YOUNIVERSE</h1>
	<h2>Home</h2><br>
	<a asp-area="" asp-controller="Home" asp-action="DressRoom">Dress Room</a><br>
	<a asp-area="" asp-controller="Home" asp-action="Profile">Profile</a><br>
	<a asp-area="" asp-controller="Home" asp-action="Acheivements">Acheivements</a><br>
	<a asp-area="" asp-controller="Lab" asp-action="Index">Lab View</a><br>
	<a href="#">Sign Out</a><br>
</div>
