@{
	ViewData["Title"] = "Timesheet";
	Layout = null;
}

<link rel="stylesheet" href="css/site.css">

<div class="text-center">
	<br><br>
	<h1>Welcome to the Game Lab</h1><br>
	<h2>
		<pre>@ViewData["clockMessage"]</pre>
	</h2>
	<br><br><br>
	<a href="../" autofocus>Back</a>
</div>

<script>
	window.onload = () => {
		setTimeout(() => {
			window.location.href = "../";
		}, 3000);
	};
</script>
