@model LabLoginViewModel

@{
	ViewData["Title"] = "Timesheet";
	ViewData["useHeader"] = false;
}

<style>
	body {
		background-image: url("/lab/bg.png");
		image-rendering: pixelated;
		background-size: cover;
		background-attachment: fixed;
		background-position-x: center;
		background-position-y: bottom;
	}

	#welcome {
		background-image: url("/lab/welcome.png");
		image-rendering: pixelated;
		background-size: cover;
		background-attachment: fixed;
		background-position-x: center;
		background-position-y: bottom;

		width: 100%;
		height: 100%;
		position: fixed;
	}

	#sign-in {
		position: fixed;
		top: 310px;
		width: 100%;
		text-align: center;
	}

	#error {
		position: absolute;
		bottom: -60px;
		width: 100%;
	}

	input#StudentId {
		margin-top: 10px;
	}
</style>

<div id="welcome"></div>
<div id="sign-in">
	<form method="post" id="sign-in-form">
		<label asp-for="StudentId" id="StudentId">Sign-In/Out (Enter Student ID):</label><br>
		<input autocomplete="username" placeholder="Student ID" asp-for="StudentId" type="text" autofocus />
		<br><br>
		<input type="submit" value="Lab Sign-In/Out" />
		<input onclick="signInToAction('/Lab/Signin')" type="submit" value="Edit Profile" />
		<br>
		<br>
	</form>
	<a asp-action="Guest">Guest Sign-In/Out</a>
	@if (ViewData["loginError"] != null)
	{
		<p class="signin-error" id="error">@ViewData["loginError"]</p>
	}

	<br><br><br>
	<a asp-action="Credits">Credits</a>
</div>

<script>
	function signInToAction(action) {
		let form = document.getElementById("sign-in-form");

		form.action = action + window.location.search;
	}
</script>
