@model LabLoginViewModel

@{
	ViewData["Title"] = "Timesheet";
}

<link rel="stylesheet" href="css/site.css">

<div class="text-center">
	<h1>Welcome to the Game Lab</h1>
	<br>
	<form method="post" id="sign-in-form">
		<label asp-for="StudentId">Sign In/Out:</label><br>
		<input autocomplete="username" placeholder="Student ID" asp-for="StudentId" type="text" autofocus />
		<br><br>
		<input type="submit" value="Quick Lab Sign-In" />
		<input onclick="signInToAction('/Account/Signin')" type="submit" value="Sign-In and Edit Profile" />
		@if (ViewData["loginError"] != null)
		{
			<p class="signin-error">@ViewData["loginError"]</p>
		}
		else
		{
			<br>
			<br>
		}
	</form>
	<br>
	<a asp-action="Guest">Guest Sign-In</a>
</div>

<script>
	function signInToAction(action) {
		let form = document.getElementById("sign-in-form");
		form.action = action;
	}
</script>
