@using YouNiverse.Models.Youniverse
@model AccountViewModel;

@{
	ViewData["Title"] = "Account";
}

<link rel="stylesheet" href="css/site.css">

<div class="text-center">
	<h1>Account</h1>
	<h2>Hello, @Model.FirstName @Model.LastName.</h2>
	<a asp-action="Profile">Profile</a><br>
	<a asp-action="DressRoom">Dress Room</a><br>
	<br><br>
	<form method="post" action="/Account/Signout">
		<input type="submit" value="Done Editing" />
	</form>
</div>