@model ProfileViewModel;

@{
	ViewData["Title"] = "Account";
}

<link rel="stylesheet" href="css/site.css">

<div class="text-center">
	<h1>Profile</h1>
	<form method="post">
		<label asp-for="Catchphrase">Catchphrase</label><br>
		<input type="text" asp-for="Catchphrase">
		<br><br>
		<label asp-for="Role">Role</label><br>
		<select asp-for="Role" />
		@foreach (EGameRole role in Enum.GetValues(typeof(EGameRole)))
		{
			<option value="@role">@EnumHelpers.GetDisplayName(role)</option>
		}
		</select>
		<br><br>

		<input type="submit" value="Save">
	</form>
	<br>
	<a asp-action="Index">Back</a>
</div>