@model AddItemModel

@{
	ViewData["Title"] = "Add Item";
}

<link rel="stylesheet" href="css/site.css">

<div class="text-center">
	<h1>Admin Page</h1>
	<h2>Add Item</h2>
	<form method="post" enctype="multipart/form-data">
		<label asp-for="ItemName">Item Name</label><br>
		<input type="text" asp-for="ItemName" /><br><br>

		<label asp-for="ItemSlot">Item Slot</label><br>
		<select asp-for="ItemSlot" asp-items="Html.GetEnumSelectList<EItemSlot>()"></select><br><br>

		<label asp-for="FrontImage">Front Image</label><br>
		<input asp-for="FrontImage" type="file" accept=".png" /><br><br>

		<label asp-for="SideImage">Side Image (right)</label><br>
		<input asp-for="SideImage" type="file" accept=".png" /><br><br>

		<label asp-for="BackImage">Back Image</label><br>
		<input asp-for="BackImage" type="file" accept=".png" /><br><br>

		<label asp-for="IsDefault">Owned by everyone</label>
		<input asp-for="IsDefault" type="checkbox"><br><br>

		<input type="submit" />
	</form>

	<p>@ViewData["itemMessage"]</p>

	<br><br><br>
	<a asp-action="Index">Back</a>
</div>