@model AddItemModel

@{
	ViewData["Title"] = "Add Item";
}



<div class="text-center">
	<h1>Admin Page</h1>
	<h2>Add Item</h2>
	<form method="post" enctype="multipart/form-data">
		<label asp-for="ItemName">Item Name</label><br>
		<input type="text" asp-for="ItemName" /><br><br>

		<label asp-for="ItemSlot">Item Slot</label><br>
		<select asp-for="ItemSlot" asp-items="Html.GetEnumSelectList<EItemSlot>()"></select><br><br>

		<label asp-for="SpriteSheet">Sprite Sheet</label><br>
		<input asp-for="SpriteSheet" type="file" accept=".png" /><br><br>

		<label asp-for="Preview">Preview</label><br>
		<input asp-for="Preview" type="file" accept=".png" /><br><br>

		<input type="submit" />
	</form>

	<p>@ViewData["itemMessage"]</p>

	<br><br><br>
	<a asp-action="Index">Back</a>
</div>