@{
	ViewData["Title"] = "Admin";
}



<div class="text-center">
	<h1>Admin Page</h1>
	<a asp-action="AddItem">Add Item</a><br>
	<a asp-action="ViewItems">Edit Items</a><br>
	<a asp-action="ViewUsers">Users</a><br>
</div>