@{
	ViewData["Title"] = "Admin";
}

<link rel="stylesheet" href="css/site.css">

<div class="text-center">
	<h1>Admin Page</h1>
	<a asp-action="AddItem">Add Item</a><br>
	<a asp-action="Users">Users</a><br>
</div>